@mixin flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin styled-scrollbar {
  scrolbar-width: thin;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #ff2929;
  }
  &::-webkit-scrollbar-thumb {
    background: #ffffd8;
  }
}